body{
    /*background-color: aqua;*/
}

.column img{
    width: 400px; 
    height:500px; 
    margin-top:8%; 
    vertical-align:middle; 
}

.row{
    display:flex; 
    flex-wrap:wrap; 
    padding:0 1px; 
}

.column{
    flex:30%; 
    max-width:55%; 
    padding:0 4px; 
}

/*making it responsive*/
@media screen and (max-width:800px){
    .column{
        flex: 50%; 
        max-width:50%; 
    }
}

@media screen and (max-width: 600px){
    .column{
        flex:100%;
        max-width:100%;
    }
}